name: Deploy React App to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build React app
        run: npm run build

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            TIMESTAMP=$(date +%Y%m%d%H%M%S)
            RELEASE_DIR=/var/www/my-react-portfolio/releases/$TIMESTAMP

            mkdir -p $RELEASE_DIR
            rm -rf $RELEASE_DIR/*

      - name: Copy build files
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "build/*"
          target: "/var/www/my-react-portfolio/releases/${{ github.run_id }}/"

      - name: Activate release
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            ln -sfn /var/www/my-react-portfolio/releases/${{ github.run_id }} /var/www/my-react-portfolio/current
            sudo nginx -t && sudo systemctl reload nginx
